.about {
  margin-top: -2px;
  margin-bottom: 122px;

  @include vp-1439 {
    margin-bottom: 101px;
  }
}

/* 1 Block */

.about__title {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  margin-bottom: 35px;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 25px;
    padding-top: 0;
  }

  @include vp-767 {
    padding-top: 4px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 14px;
  }
}

.about__intro {
  width: 1134px;
  display: grid;
  grid-template-columns: 477px 498px;
  justify-content: space-between;
  margin-bottom: 58px;

  @include vp-1439 {
    width: auto;
    grid-template-columns: 73.5%;
    gap: 29px;
    margin-bottom: 60px;
  }

  @include vp-767 {
    grid-template-columns: 100%;
    margin-bottom: 40px;
  }

  span {
    font-size: 22px;
    line-height: 32px;

    @include vp-1439 {
      font-size: 20px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: $color-cerulean-blue;
    margin-bottom: 33px;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 23px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 11px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;

    @include vp-1439 {
      line-height: 20px;
      margin-bottom: 35px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}

.about__btn {
  min-width: 278px;

  @include vp-767 {
    min-width: 221px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;
    padding-left: 20px;
  }
}

.about__btn .btn__toggle {
  min-width: 34px;
  width: 34px;
  height: 34px;
}

/* 2 Block */
.about__list {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  margin: 0;
  padding: 72px 126px 32px;
  display: grid;
  grid-template-columns: 478px 478px;
  gap: 52px;
  row-gap: 54px;
  border-radius: 20px;
  list-style: none;

  @include vp-1439 {
    grid-template-columns: 1fr 1fr;
    padding: 62px 40px 40px 60px;
    gap: 50px;
    row-gap: 42px;
  }

  @include vp-767 {
    grid-template-columns: 50px;
  }
}

.about__item {
  margin: 0;
  padding: 25px 47px 25px 59px;
  border-radius: 16px;
  border: 1px solid $color-alabaster;
  position: relative;

  @include vp-1439 {
    padding: 26px 15px 25px 29px;
  }
}

.about__item-wrap {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  @include vp-1439 {
    grid-template-columns: auto;
    row-gap: 7px;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.26px;
    text-transform: uppercase;
    max-width: 173px;
    padding-top: 4px;

    @include vp-1439 {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.2px;
      max-width: 100%;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    max-width: 190px;

    @include vp-1439 {
      max-width: 100%;
    }
  }

  &--program {
    @include vp-1439 {
      width: 88%;
    }
  }

  &--people {
    grid-template-columns: 171px 161px;
    padding-right: 12px;

    @include vp-1439 {
      grid-template-columns: auto;
      padding-right: 0;
    }
  }

  &--price {
    grid-template-columns: 134px 190px;
    padding-right: 12px;

    @include vp-1439 {
      grid-template-columns: auto;
    }
  }

  &--countries {
    grid-template-columns: 163px 142px;
    padding-right: 12px;

    @include vp-1439 {
      grid-template-columns: auto;
      padding-right: 0;
    }
  }
}

.about__item-icon {
  position: absolute;
  top: -23px;
  left: -21px;
}
