.btn {
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  padding: 4px 4px 4px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  height: max-content;
}

.btn__toggle {
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
}

/**/
