.btn {
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  padding: 3px 4px 3px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  height: max-content;
  color: $color-cerulean-blue;
  min-width: 196px;
  user-select: none;
  transition: $trans-default;
}

.btn__toggle {
  width: 46px;
  min-width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $color-default-white;
}

.btn:hover,
.btn:focus-visible {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  outline: none;
}

.btn:hover .btn__toggle,
.btn:focus-visible .btn__toggle {
  stroke: $color-cerulean-blue;
  transform: rotate(45deg);
  background-color: $color-default-white;
}

.btn:active {
  color: rgba(255, 255, 255, 0.7);
  transition: $trans-default;
}

.btn:active .btn__toggle {
  stroke: rgba(49, 109, 194, 0.7);
  transform: rotate(45deg);
  transition: $trans-default;
}

/* for disabled add class btn--disabled */

.btn--disabled,
.btn:disabled {
  border: 1px solid $color-chocolate;
  cursor: default;
  pointer-events: none;
  color: $color-chocolate;

  &:focus-visible,
  &:focus {
    border: 1px solid $color-chocolate;
    cursor: default;
    pointer-events: none;
    color: $color-chocolate;
    background-color: $color-default-white;
  }
}

.btn--disabled .btn__toggle,
.btn:disabled .btn__toggle {
  background-color: $color-chocolate;
}

.btn--disabled:focus-visible .btn__toggle,
.btn:disabled:focus-visible .btn__toggle {
  background-color: $color-chocolate;
  stroke: $color-default-white;
  transform: none;
}
