.faq__container {
  padding-top: 3px;
  width: 1028px;
  margin: 0 auto;
}

.faq__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  text-align: center;
  margin-bottom: 67px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.faq__item {
  border-radius: 16px;
  border: 1px solid $color-cerulean-blue;
  padding: 39px 40px;
  color: $color-cerulean-blue;
  cursor: pointer;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
  }

  p {
    margin: 0;
    padding: 0;
    width: 690px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $color-default-white;
  }

  &:hover,
  &:focus-within {
    background-color: $color-default-white;
  }

  &:hover .faq__button:not(:disabled),
  &:focus-within .faq__button:not(:disabled) {
    background-color: $color-default-white;
  }

  &:hover .faq__button:not(:disabled)::after,
  &:focus-within .faq__button:not(:disabled)::after {
    background-color: $color-cerulean-blue;
  }

  &:hover .faq__button:not(:disabled)::before,
  &:focus-within .faq__button:not(:disabled)::before {
    background-color: $color-cerulean-blue;
  }

  &:active {
    color: $color-blue-dark;
  }

  &:active .faq__button:not(:disabled) {
    background-color: $color-blue-dark;
  }

  &:active .faq__button:not(:disabled)::before,
  &:active .faq__button:not(:disabled)::after {
    background-color: $color-default-white;
  }

  &--duble-text {
    padding-top: 30px;
    padding-bottom: 34px;

    button {
      margin-top: 9px;
    }
  }
}

.faq__item.is-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding-bottom: 31px;

  &:hover .faq__button:not(:disabled),
  &:focus-within .faq__button:not(:disabled) {
    background-color: $color-cerulean-blue;
    border: 1px solid $color-default-white;
  }

  &:hover .faq__button:not(:disabled)::before,
  &:focus-within .faq__button:not(:disabled)::before {
    background-color: $color-default-white;
  }

  &:active {
    background-color: $color-blue-dark;
  }

  &:active .faq__button:not(:disabled) {
    background-color: $color-default-white;
    border: 1px solid $color-default-white;
  }

  &:active .faq__button:not(:disabled)::before {
    background-color: $color-blue-dark;
  }

  p {
    padding-top: 14px;
  }
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.faq__button {
  background-color: $color-cerulean-blue;
  width: 40px;
  height: 40px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background-color: $color-default-white;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    display: block;
    background-color: $color-default-white;
    left: 23%;
    transform: rotate(90deg);
  }

  &:disabled {
    background-color: $color-chocolate;
    border: 1px solid $color-chocolate;
    cursor: default;
  }
}

.faq__item.is-active .faq__button {
  background-color: $color-default-white;

  &::before {
    background-color: $color-cerulean-blue;
  }

  &::after {
    display: none;
  }
}
