.form {
  margin-bottom: 120px;
}

.form__main-wrap {
  position: relative;

  form {
    width: 498px;
    background-color: $color-cerulean-blue;
    padding: 82px 74px 41px;
    border-radius: 16px;
  }
}

.form__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

.form__title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: $color-default-white;
  margin-bottom: 25px;
}

.form__text {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.9;
}

/* label name/phone */

.form__wrapper--feedback {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 9px;
  }

  label:hover .form__block-name {
    color: $color-alabaster;
  }

  label:hover input,
  label:hover textarea {
    border: 1px solid $color-default-white;
  }

  label:hover input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  label:focus-within .form__block-name {
    color: $color-alabaster;
  }

  .is-invalid input,
  .is-invalid textarea {
    border: 1px solid $color-wild-watermelon;
    background: rgba(255, 94, 102, 0.2);
  }

  .is-invalid .form__block-name {
    color: rgba(240, 239, 233, 0.8);
  }

  input {
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $color-default-white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 17px 20px;
    background-color: $color-cerulean-blue;
  }

  input:focus,
  input:active {
    border: 1px solid $color-default-white;
    outline: none;
  }

  input:disabled + .form__block-name {
    color: rgba(240, 239, 233, 0.6);
  }

  input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.2);
  }

  /* textarea */

  textarea {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 17px 20px;
    outline: none;
    min-height: 98px;
    margin-bottom: 5px;
  }

  textarea:focus {
    border: 1px solid $color-default-white;
  }

  textarea:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.20);

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  textarea:disabled + .form__block-name {
    color: rgba(240, 239, 233, 0.6);
  }


}

/* checkbox */
.form__checkbox--feedback {
  margin-top: -22px;
  margin-bottom: 9px;

  label {
    flex-direction: row;
    min-height: 20px;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 20px auto;
  }

  input {
    opacity: 0;
    height: 20px;
  }

  label:hover .form__checkbox-mark,
  label:focus-within .form__checkbox-mark {
    border: 1px solid $color-default-white;
  }

  input:disabled + .form__checkbox-mark {
    border: 1px solid $color-default-white;
    background: rgba(255, 255, 255, 0.6);
  }

  .is-invalid .form__checkbox-mark {
    border: 1px solid rgba(255, 94, 102, 0.7);
    background: rgba(255, 94, 102, 0.2);
  }

  .is-valid .form__checkbox-mark {
    background: $color-cerulean-blue;
    border: 1px solid $color-cerulean-blue;
  }

  .is-valid svg {
    stroke: $color-cerulean-blue;
  }

  input:checked + .form__checkbox-mark {
    background: $color-default-white;
    border: 1px solid $color-default-white;
    stroke: $color-cerulean-blue;
  }

  /* hover/focus witch checked */

  .is-valid:hover .form__checkbox-mark,
  .is-valid:focus-visible .form__checkbox-mark {
    background: $color-cerulean-blue;
    border: 1px solid $color-default-white;
  }

  .is-valid:hover svg,
  .is-valid:focus-visible svg {
    stroke: $color-default-white;
  }

  /* disabled checked */
  input:disabled:checked + .form__checkbox-mark {
    background: $color-chocolate;
    border: 1px solid $color-chocolate;
    stroke: $color-default-white;
  }
}

label:hover input:checked + .form__checkbox-mark,
label:focus-within input:checked + .form__checkbox-mark {
  background: $color-default-white;
  border: 1px solid $color-default-white;
  stroke: $color-cerulean-blue;
}

.form__checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.9);
}

.form__block-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: rgba(240, 239, 233, 0.8);
}


/* Button Send */
.form__btn {
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  color: $color-default-white;
  border: 1px solid $color-default-white;
  transition: $trans-default;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.form__btn .btn__toggle {
  background-color: $color-default-white;

  svg {
    stroke: $color-cerulean-blue;
  }
}

.form__btn:hover,
.form__btn:focus-visible {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.form__btn:hover .btn__toggle,
.form__btn:focus-visible .btn__toggle {
  background-color: $color-cerulean-blue;
  transition: $trans-default;

  svg {
    stroke: $color-default-white;
  }
}

.form__btn:active {
  color: rgba(49, 109, 194, 0.7);
  background-color: $color-default-white;
  transition: $trans-default;
}

.form__btn:active .btn__toggle {
  background-color: $color-cerulean-blue;

  svg {
    stroke: rgba(255, 255, 255, 0.7);
  }
}

/*  */
