.form {
  margin-bottom: 120px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.form__main-wrap {
  position: relative;

  form {
    width: 498px;
    background-color: $color-cerulean-blue;
    padding: 82px 74px 41px;
    border-radius: 16px;

    @include vp-1439 {
      width: 442px;
      padding: 60px 45px 58px;
    }

    @include vp-767 {
      width: 90.5%;
      margin: 0 auto;
      padding: 51px 15px 50px;
    }
  }
}

.form__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  user-select: none;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

.form__title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: $color-default-white;
  margin-bottom: 25px;

  @include vp-1439 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.form__text {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.9;

  @include vp-1439 {
    line-height: 20px;
    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 26px;
  }
}

.form__textarea-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 9px;

  @include vp-767 {
    gap: 11px;
  }

  &:hover textarea,
  &:hover.is-invalid textarea {
    border: 1px solid $color-default-white;
  }


  &:hover .form__block-name,
  &:hover.is-invalid .form__block-name {
    color: $color-alabaster;
  }

  &:focus-within .form__block-name,
  &:focus-within.is-invalid .form__block-name {
    color: $color-alabaster;
  }
}

/* label name/phone */

.form__feedback {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-767 {
    gap: 21px;
  }

  label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 9px;

    @include vp-767 {
      gap: 11px;
    }
  }

  label:hover .form__block-name {
    color: $color-alabaster;
  }

  label:hover input {
    border: 1px solid $color-default-white;
  }

  label:hover input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  label:focus-within .form__block-name {
    color: $color-alabaster;
  }

  .is-invalid input,
  .is-invalid textarea {
    border: 1px solid $color-wild-watermelon;
    background: rgba(255, 94, 102, 0.2);
  }

  .is-invalid .form__block-name {
    color: rgba(240, 239, 233, 0.8);
  }

  input {
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: $color-default-white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 17px 20px;
    background-color: $color-cerulean-blue;
  }

  input:focus,
  input:active {
    border: 1px solid $color-default-white;
    outline: none;
  }

  input:disabled + .form__block-name {
    color: rgba(240, 239, 233, 0.6);
  }

  input:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.2);
  }

  /* textarea */

  textarea {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 17px 20px;
    outline: none;
    min-height: 98px;
    margin-bottom: 5px;

    @include vp-1439 {
      margin-bottom: 1px;
    }

    @include vp-767 {
      min-height: 94px;
      margin-bottom: 0;
    }
  }

  textarea:focus {
    border: 1px solid $color-default-white;
  }

  textarea:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  textarea:disabled + .form__block-name {
    color: rgba(240, 239, 233, 0.6);
  }
}

/* checkbox */
.form__checkbox-feedback {
  margin-top: -22px;
  margin-bottom: 9px;

  @include vp-767 {
    margin-top: -28px;
    margin-bottom: 0;
  }

  label {
    flex-direction: row;
    min-height: 20px;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 20px auto;
  }

  input {
    opacity: 0;
    height: 20px;
  }

  label:hover .form__checkbox-mark,
  label:focus-within .form__checkbox-mark {
    border: 1px solid $color-default-white;
  }

  input:disabled + .form__checkbox-mark {
    border: 1px solid $color-default-white;
    background: rgba(255, 255, 255, 0.6);
  }

  .is-invalid .form__checkbox-mark {
    border: 1px solid rgba(255, 94, 102, 0.7);
    background: rgba(255, 94, 102, 0.2);
  }

  .is-valid .form__checkbox-mark {
    background: $color-cerulean-blue;
    border: 1px solid $color-cerulean-blue;
  }

  .is-valid svg {
    stroke: $color-cerulean-blue;
  }

  input:checked + .form__checkbox-mark {
    background: $color-default-white;
    border: 1px solid $color-default-white;
    stroke: $color-cerulean-blue;
  }

  /* hover/focus witch checked */

  .is-valid:hover .form__checkbox-mark,
  .is-valid:focus-visible .form__checkbox-mark {
    background: $color-cerulean-blue;
    border: 1px solid $color-default-white;
  }

  .is-valid:hover svg,
  .is-valid:focus-visible svg {
    stroke: $color-default-white;
  }

  /* disabled checked */
  input:disabled:checked + .form__checkbox-mark {
    background: $color-chocolate;
    border: 1px solid $color-chocolate;
    stroke: $color-default-white;
  }
}

label:hover input:checked + .form__checkbox-mark,
label:focus-within input:checked + .form__checkbox-mark {
  background: $color-default-white;
  border: 1px solid $color-default-white;
  stroke: $color-cerulean-blue;
}

.form__checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.9);

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.form__block-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: rgba(240, 239, 233, 0.8);

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}


/* Button Send */
.form__btn {
  display: grid;
  grid-template-columns: 1fr 46px;
  padding: 3px 4px 3px 2px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  color: $color-default-white;
  border: 1px solid $color-default-white;
  transition: $trans-default;

  @include vp-767 {
    grid-template-columns: 1fr 34px;
    padding-right: 3px;
    padding-left: 1px;
    min-width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;

    .btn__toggle {
      width: 34px;
      height: 34px;
      min-width: 34px;
    }
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.form__btn .btn__toggle {
  background-color: $color-default-white;

  svg {
    stroke: $color-cerulean-blue;
  }
}

.form__btn:hover,
.form__btn:focus-visible {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.form__btn:hover .btn__toggle,
.form__btn:focus-visible .btn__toggle {
  background-color: $color-cerulean-blue;
  transition: $trans-default;

  svg {
    stroke: $color-default-white;
  }
}

.form__btn:active {
  color: rgba(49, 109, 194, 0.7);
  background-color: $color-default-white;
  transition: $trans-default;
}

.form__btn:active .btn__toggle {
  background-color: $color-cerulean-blue;

  svg {
    stroke: rgba(255, 255, 255, 0.7);
  }
}
