.form-modal__title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: $color-cerulean-blue;
  text-align: center;
  margin-bottom: 20px;
}

.form-modal__text {
  margin: 0;
  padding: 0;
  color: $color-charcoal;
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* label name/phone */

.form-modal__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
  }

  label:hover .form-modal__block-name {
    color: $color-charcoal;
  }

  label:hover input {
    border: 1px solid $color-charcoal;
  }

  label:focus-within .form-modal__block-name {
    color: $color-charcoal;
  }

  input {
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(72, 72, 72, 0.3);
    color: $color-charcoal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 17px 20px;
  }

  input:focus,
  input:active {
    border: 1px solid $color-charcoal;
    outline: none;
  }
}

.form-modal__block-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: rgba(72, 72, 72, 0.8);
  opacity: 0.8;
}



/**/
