.header {
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top $trans-900;
  margin-top: 30px;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
  height: 52px;
  width: 52px;
  position: relative;
}

.is-opened .header__logo-link {

  @include vp-767 {
    display: none;
  }
}

/* Button Menu */

.header__subwrapper {
  position: relative;
  z-index: 500;
}

.is-opened .header__subwrapper {
  @include vp-767 {
    width: 100%;
  }
}


.header__button {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  min-width: 134px;
  width: 100%;
  height: 54px;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-default-white;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  padding-right: 4px;
  color: $color-cerulean-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: auto;
  z-index: 500;
  transition: 0.5s;
}

.header__button:hover,
.header__button:focus,
.header__button:active {
  outline: none;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
}

.header__button:disabled {
  border: 1px solid $color-chocolate;
  color: $color-chocolate;
  cursor: default;
}

.header__button:disabled:hover,
.header__button:disabled:focus,
.header__button:disabled:active {
  outline: none;
  background-color: $color-default-white;
  color: $color-chocolate;
}

.header__button:hover .header__button-toggle,
.header__button:focus .header__button-toggle,
.header__button:active .header__button-toggle  {
  background-color: $color-default-white;

  &::before {
    background-color: $color-cerulean-blue;
    box-shadow: 0 4px 0 0 $color-cerulean-blue,0 8px 0 0 $color-cerulean-blue;
  }
}

.header__button:disabled:hover .header__button-toggle,
.header__button:disabled:focus .header__button-toggle,
.header__button:disabled:active .header__button-toggle  {
  background-color: $color-chocolate;

  &::before {
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white,0 8px 0 0 $color-default-white;
  }
}

/* кружок */
.header__button-toggle {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -450%);
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white,0 8px 0 0 $color-default-white;
  }
}

.header__button:disabled .header__button-toggle {
  background-color: $color-chocolate;
}


/* открыттое меню */
.is-opened::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100vh;
  background-color: rgba(13, 29, 51, 0.40);
}

.is-opened .header__button {
  min-width: 286px;
  max-width: 100%;
  border: none;
  background-color:  $color-cerulean-blue;
  color: $color-default-white;
}

.is-opened .header__button:hover,
.is-opened .header__button:focus,
.is-opened .header__button:active {
  outline: none;
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.is-opened .header__button:hover .header__button-toggle,
.is-opened .header__button:focus .header__button-toggle,
.is-opened .header__button:active .header__button-toggle{
  outline: none;
  background-color: $color-cerulean-blue;
  color: $color-default-white;

  &::before,
  &::after {

    background-color: $color-default-white;
  }
}

.is-opened .header__button-toggle {
  background-color: $color-default-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 1px;
    background-color: $color-cerulean-blue;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    left: 12px;
    top: 22px;
  }

  &::after {
    transform: rotate(-45deg);
    left: 12px;
    top: 22px;
  }
}

/* header menu */
.header__menu {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  opacity: 0;
}

.is-opened .header__menu {
  margin-top: 4px;
  padding: 35px 25px;
  background-color: $color-cerulean-blue;
  top: 50px;
  color: $color-default-white;
  opacity: 1;
  border-radius: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: auto;
}

.header__menu-item {
  margin: 0;
  padding: 0;
  outline: none;
  height: 0;
  list-style: none;
  display: none;
}

.header.is-opened .header__menu-item {
  display: block;
}

.header__menu-item.is-active button {
  color: $color-default-white;
  margin-bottom: 20px;

  svg {
    stroke: $color-default-white;
    transform: rotate(180deg);
  }
}

.is-opened .header__menu-item {
  height: auto;
}

.header__menu-link {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  height: 0;
}

.is-opened .header__menu-link {
  height: auto;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: $color-default-white;
  outline: none;
}

.header__menu-button {
  word-break: break-all;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: $color-cerulean-blue;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  svg {
    stroke: rgba(255, 255, 255, 0.7);
  }
}

.header__menu-button:hover,
.header__menu-button:focus,
.header__menu-button:active {
  color: $color-default-white;

  svg {
    stroke: $color-default-white;
  }
}

/* submenu */

.header__submenu {
  margin: 0;
  list-style: none;
  padding-left: 16px;
}

.header__submenu-item {
  margin: 0;
  padding: 0;
}

.header__submenu-link {
  color: rgba(255, 255, 255, 0.6);
}

.header__submenu-link:hover,
.header__submenu-link:focus,
.header__submenu-link:active {
  color: $color-default-white;
  outline: none;
}
/**/
