.header {
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top $trans-600;
  margin-top: 30px;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
  height: 52px;
  width: 52px;
  position: relative;
}

.header__subwrapper {
  position: relative;
  z-index: 500;
}

.header__button {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  width: 134px;
  height: 54px;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-default-white;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  padding-right: 4px;
  color: $color-cerulean-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 500;
}

/* кружок */
.header__button-toggle {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  transition: $trans-modal;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -450%);
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white,0 8px 0 0 $color-default-white;
  }
}

.header__button-text {
  transition: $trans-modal;
}

/* открыттое меню */
.is-opened::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100vh;
  background-color: rgba(13, 29, 51, 0.40);
}

.is-opened .header__button {
  min-width: 286px;
  max-width: 100%;
  width: 100%;
  border: none;
  background-color:  $color-cerulean-blue;
  color: $color-default-white;
}

.is-opened .header__button-toggle {
  background-color: $color-default-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 1px;
    background-color: $color-cerulean-blue;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    left: 12px;
    top: 22px;
  }

  &::after {
    transform: rotate(-45deg);
    left: 12px;
    top: 22px;
  }
}

/* header menu */
.header__menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.is-opened .header__menu {
  background-color: $color-cerulean-blue;
  top: 50px;
  color: $color-default-white;
  opacity: 1;
}

.header__submenu {
  display: none;
}




/*  */
