.hero {
  padding: 0;
  margin: 0;
}

.swiper-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  margin: 0;
  padding: 0 0 60px;
  min-height: 800px;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-bg-hero;
  top: 0;
  left: 0;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  h3 {
    margin: 0;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    color: $color-cerulean-blue;
    background-color: $color-default-white;
    border-radius: 0 30px 30px 0;
    width: 968px;
    padding: 40px 50px 30px;

    @include vp-1439 {
      width: 659px;
      padding: 30px 40px 24px;
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      width: 100%;
      padding: 20px 14px 16px;
      font-size: 22px;
      line-height: 26px;
      border-radius: 0px 16px 16px 0px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-charcoal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 446px;

    @include vp-1439 {
      width: 285px;
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-767 {
      width: 267px;
      font-size: 14px;
      line-height: 20px;
      background-color: $color-default-white;
      padding: 0 14px 15px;
      border-radius: 0px 0px 14px 0px;
    }
  }
}

.hero__wrapper--student {
  p {
    line-height: 21.5px;
    text-align: top;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      padding: 0 14px 15px;
      width: 267px;
      font-size: 14px;
      line-height: 20px;
      background-color: $color-default-white;
      border-radius: 0px 0px 14px 0px;
    }
  }
}

.hero__sub-wrapper {
  background-color: $color-default-white;
  padding: 0 50px 35px;
  width: 772px;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;

  @include vp-1439 {
    width: 591px;
    padding: 0 40px 31px;
    align-items: flex-start;
  }

  @include vp-767 {
    width: 267px;
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    gap: 0;
  }
}

.hero__angle {
  width: 267px;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -26px;
  top: 0;

  @include vp-767 {
    width: 10px;
    height: 10px;
    right: -10px;
    top: -10px;
  }
}


.hero__angle svg {
  @include vp-767 {
    width: 10px;
    height: 10px;
  }
}


/* pagination */
.slider-pagination {
  position: absolute;
  top: -38px;
  border-radius: 20px 20px 0 0;
  background-color: $color-default-white;

  @include vp-767 {
    top: -28px;
    border-radius: 12px 12px 0px 0px;
  }
}

.swiper-pagination__angle {
  position: absolute;
  right: -20px;
  bottom: -8px;

  @include vp-767 {
    right: -10px;
    bottom: 9px;
    height: 10px;
  }
}

.swiper-pagination__angle svg{
  @include vp-767 {
    width: 10px;
    height: 10px;
  }
}

.slider-pagination .swiper-wrapper {
  display: none;
}

.slider-pagination .swiper-pagination {
  width: 94px;
  height: 38px;
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-767 {
    width: 80px;
    height: 28px;
    padding: 10px 16px;
  }
}

.slider-pagination .swiper-pagination-bullet {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-default-white;
  cursor: pointer;
  outline: none;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}


.slider-pagination .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}


.hero__br {
  display: block;

  @include vp-1439 {
    display: none;
  }
}


