.news {
  margin-bottom: 120px;
  margin-top: 120px;
}

.news__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  text-align: center;
}

.news__button-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 40px;
}

.news__button {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue;
  opacity: 0.6;
  padding: 10px 26px;
}

.news__button:hover,
.news__button:focus-visible  {
  opacity: 1;
  outline: none;
}

.news__button.is-active {
  border-radius: 20px;
  border: 1px solid $color-cerulean-blue;
  opacity: 1;
}

.news__content {
  width: 100%;
  margin-bottom: 52px;
}

.news__content .swiper-container {
  overflow: hidden;
  position: relative;
  min-height: 472px;

  @include vp-1439 {
    width: 100%;
    height: 100%;
  }
}

.news__content .swiper-wrapper {
  border-radius: 12px;
  width: 1200px;

  @include vp-1439 {
    width: 100%;
    height: 100%;
  }
}

.news__content .swiper-slide {
  width: 286px;
  height: 400px;
  position: relative;
  user-select: none;

  @include vp-1439 {
    width: 324px;
    height: 350px;
  }
}

.news__content .swiper-slide--big {
  width: 604px;

  @include vp-1439 {
    width: 324px;
    height: 350px;
  }
}

.news__img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.slide__info {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    background-color: $color-alabaster;
  }
}

.slide__info-wrap {
  background-color: $color-alabaster;
  width: 70%;
}

/* pagination */
.news__content .swiper-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.news__content .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-cerulean-blue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

.news__content .swiper-pagination-bullet:hover,
.news__content .swiper-pagination-bullet:focus-visible {
  opacity: 1;
  border: 1px solid $color-cerulean-blue;
  outline: none;
}

.news__content .swiper-pagination-bullet:active {
  border: 1px solid $color-blue-dark;
  background-color: $color-blue-dark;
  color: $color-default-white;
  outline: none;
}

.news__content .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  opacity: 1;
  border: 1px solid $color-cerulean-blue
}

.news__arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}


.news__link {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  min-width: 30px;
}

/* for disabled add .news__link--disabled */

.news__link--disabled {
  pointer-events: none;
}

.news__link.news__link--disabled .btn__toggle {
  background-color: $color-chocolate;
  transform: none;
  stroke: $color-default-white;
}

.news__link .btn__toggle {
  width: 30px;
  height: 30px;
  min-width: 30px;
}


.news__link:hover,
.news__link:focus-visible,
.news__link:active {
  background-color: $color-default-white;
  outline: none;
}
.news {
  margin-top: 120px;
  margin-bottom: 120px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }


}

.news__tab-buttons {
  margin-bottom: 40px;

  @include vp-1439 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin: 0 0 24px;
  }

  ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    @include vp-1439 {
      gap: 10px;
    }

    @include vp-767 {
      gap: 12px;
    }
  }
}

.news__tab-button {
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: outline $trans-default, color $trans-default;

  &:hover,
  &:focus-visible {
    color: $color-cerulean-blue;
  }

  @include vp-1439 {
    padding: 14px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news__slider {
  margin-bottom: 40px;

  @include vp-1439 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    padding-right: 15px;
  }
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    max-height: 730px;
  }

  @include vp-767 {
    max-height: 590px;
  }
}

.news__item {
  max-width: 286px;
  min-height: 400px;
  height: auto;
  background-color: red;

  picture + picture {
    display: none;
  }

  @include vp-1439 {
    max-width: 324px;
    min-height: 350px;
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 330px;

    &:nth-child(2n) {
      min-height: 240px;
    }
  }
}

.news__item.swiper-slide-active {
  max-width: 604px;

  picture {
    display: none;
  }

  picture + picture {
    display: block;
  }

  @include vp-1439 {
    max-width: 324px;

    picture {
      display: block;
    }

    picture + picture {
      display: none;
    }
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.news__tab-button.is-active {
  outline: 1px solid $color-cerulean-blue;
  color: $color-cerulean-blue;
}

.news__swiper-controls {
  display: flex;
  justify-content: space-between;
}

.news__pagination {
  display: flex;
  gap: 20px;

  .swiper-pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $color-cerulean-blue;
  }
}
/**/
