.programs__wrapper {
  display: grid;
  max-width: 1240px;
  grid-template-columns:  auto 232px;
  gap: 40px;

  padding-bottom: 150px;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
}

.programs__wrapper .swiper-container {
  grid-column: 1 / -1;
  overflow: hidden;
}

.programs__wrapper .swiper-wrapper {
  height: 200px;
  margin-bottom: 40px;
}

.programs__wrapper .swiper-slide {
  min-height: 420px;
  position: relative;
  width: 392px;
  border-radius: 12px;
  max-width: 392px;
  padding: 20px 51px 20px 20px;
  display: flex;
  outline: none;
}

.swiper__programs-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 12px;
  z-index: -1;

  img {
    object-fit: cover;
    width: 392px;
    min-height: 420px;
    border-radius: 12px;
    height: 100%;
  }
}

.programs__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    margin: 0;
    padding: 18px 18px 6px;
    background-color: $color-default-white;
    width: 194px;
    border-radius: 12px 12px 0px 0px;
    color: $color-cerulean-blue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-charcoal;
    font-size: 14px;
    line-height: 18px;
  }
}

.programs__content-subwrap {
  margin: 0;
  padding: 12px 18px 15px;
  background-color: $color-default-white;
  color: $color-cerulean-blue;
  width: 321px;
  border-radius: 0px 12px 12px 12px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.programs__angle {
  position: absolute;
  top: -17px;
  left: 193px;
}

.programs__link {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  min-width: 30px;
}

.programs__link .btn__toggle {
  width: 30px;
  height: 30px;
  min-width: 30px;
}


.programs__link:hover,
.programs__link:focus-visible,
.programs__link:active {
  background-color: $color-default-white;
}


.btn:active {
  color: rgba(255, 255, 255, 0.7);
}

.programs .programs__controles {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1134px 54px;
  justify-content: space-between;
  align-items: center;
  min-height: 22px;
}

.swiper-scrollbar {
  width: 1134px;
  height: 2px;
  background-color: rgba(49, 109, 194, 0.2);
}

.swiper-scrollbar-drag {
  height: 2px;
  background-color: $color-cerulean-blue;
  z-index: 100;
}

.programs__arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 50%;

  svg {
    stroke: $color-cerulean-blue
  }
}

.swiper-button-prev:focus-visible,
.swiper-button-next:focus-visible,
.swiper-button-prev:hover:not(.swiper-button-disabled),
.swiper-button-next:hover:not(.swiper-button-disabled) {
  background-color: $color-default-white;
}

.swiper-button-prev:active svg,
.swiper-button-next:active svg {
  opacity: 0.7;
}

.swiper-button-disabled,
.swiper-button-disabled {
  svg {
    stroke: $color-chocolate;

  }
}

/**/
