.programs__wrapper {
  display: grid;
  max-width: 1240px;
  grid-template-columns: auto 232px;
  gap: 39px;
  padding-top: 3px;
  margin-bottom: 120px;

  @include vp-1439 {
    grid-template-columns: auto 277px;
    padding-top: 1px;
    max-width: 1394px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 54px;
    padding-top: 5px;
    max-width: none;
    gap: 0;
    row-gap: 8px;
  }
}

.programs__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;

  @include vp-1439 {
    font-size: 34px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    width: 90%;
  }
}

.programs__link-all-programs.btn {
  @include vp-1439 {
    margin-right: 45px;
  }

  @include vp-767 {
    grid-row: 3 / 4;
    width: 203px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin-right: 0;
  }
}

.programs__link-all-programs.btn .btn__toggle {
  @include vp-767 {
    width: 34px;
    height: 34px;
    min-width: 34px;
  }
}

.programs__wrapper .swiper-container {
  grid-column: 1 / -1;
  overflow: hidden;
  margin-top: 5px;

  @include vp-1439 {
    margin-top: 1px;
  }

  @include vp-767 {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
  }
}

.programs__wrapper .swiper-wrapper {
  height: 200px;
  margin-bottom: 39px;

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.programs__wrapper .swiper-slide {
  min-height: 420px;
  position: relative;
  width: 392px;
  border-radius: 12px;
  max-width: 392px;
  padding: 20px 51px 20px 20px;
  display: flex;
  outline: none;
  user-select: none;

  @include vp-1439 {
    max-width: 324px;
    width: 324px;
  }

  @include vp-767 {
    min-height: 400px;
    max-width: 737px;
    width: 290px;
    padding: 18px 10px;
    visibility: hidden;
  }
}

.programs__wrapper .swiper-slide.swiper-slide-visible {
  visibility: visible;
}

.programs__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 12px;
  z-index: -1;

  img {
    object-fit: cover;
    width: 392px;
    min-height: 420px;
    border-radius: 12px;
    height: 100%;
    position: relative;
    z-index: -1;

    @include vp-1439 {
      width: 324px;
    }

    @include vp-1439 {
      min-height: 400px;
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: $color-bg-programs;
    border-radius: 12px;
  }
}

.programs__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include vp-1439 {
    width: 200px;
  }

  @include vp-1439 {
    width: 100%;
  }

  h3 {
    margin: 0;
    padding: 14px 12px 1px 18px;
    background-color: $color-default-white;
    width: 194px;
    border-radius: 12px 12px 0 0;
    color: $color-cerulean-blue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    overflow-wrap: break-word;

    @include vp-1439 {
      width: 173px;
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      width: 146px;
      padding: 18px 18px 6px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-charcoal;
    font-size: 14px;
    line-height: 18px;
    max-width: 239px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.programs__content-subwrap {
  margin: 0;
  padding: 12px 18px 15px;
  background-color: $color-default-white;
  color: $color-cerulean-blue;
  width: 321px;
  border-radius: 0 12px 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 79px;

  @include vp-1439 {
    width: 263px;
    gap: 16px;
    padding: 7px 18px 10px;
    min-height: 0;
  }

  @include vp-767 {
    width: 100%;
    padding: 13px 18px 14px;
  }

  &--stage {
    padding: 11px 18px 14px;

    @include vp-1439 {
      padding: 7px 18px 10px;
    }

    @include vp-767 {
      width: 100%;
      padding: 13px 18px 14px;
    }
  }
}

.programs__angle {
  position: absolute;
  top: -17px;
  left: 193px;

  @include vp-1439 {
    left: 172px;
    top: -16px;
  }

  @include vp-767 {
    left: 146px;
  }
}

.programs__link {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  min-width: 30px;
}

/* for disabled add .programs__link--disabled */

.programs__link--disabled {
  pointer-events: none;
}

.programs__link.programs__link--disabled .btn__toggle {
  background-color: $color-chocolate;
  transform: none;
  stroke: $color-default-white;
}

.programs__link .btn__toggle {
  width: 30px;
  height: 30px;
  min-width: 30px;
}


.programs__link:hover,
.programs__link:focus-visible,
.programs__link:active {
  background-color: $color-default-white;
  outline: none;
}

.programs__link:focus {
  background-color: $color-default-white;
}

.btn:active {
  color: rgba(255, 255, 255, 0.7);
}

.programs .programs__controles {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1134px 54px;
  justify-content: space-between;
  align-items: center;
  min-height: 22px;

  @include vp-1439 {
    grid-template-columns: 1fr 54px;
    gap: 64px;
    margin-right: 45px;
  }

  @include vp-767 {
    margin-right: 0;
    height: 0;
  }
}

.swiper-scrollbar {
  width: 1134px;
  height: 2px;
  background-color: rgba(49, 109, 194, 0.2);

  @include vp-1439 {
    width: 100%;
  }

  @include vp-767 {
    display: none;
  }
}

.swiper-scrollbar-drag {
  height: 2px;
  background-color: $color-cerulean-blue;
  z-index: 100;
}

.programs__arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 54px;

  @include vp-767 {
    position: absolute;
    right: 1px;
    top: -30px;
    width: 51px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 50%;

  svg {
    stroke: $color-cerulean-blue;
  }
}

.swiper-button-prev:focus-visible,
.swiper-button-next:focus-visible,
.swiper-button-prev:hover:not(.swiper-button-disabled),
.swiper-button-next:hover:not(.swiper-button-disabled) {
  background-color: $color-default-white;
}

.swiper-button-prev:active:not(.swiper-button-disabled) svg,
.swiper-button-next:active:not(.swiper-button-disabled) svg {
  opacity: 0.7;
}

.swiper-button-disabled {
  svg {
    stroke: $color-chocolate;
  }
}
