.reviews {
  margin-bottom: 121px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 58px;
  }
}

.reviews__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  margin-bottom: 45px;
  padding-left: 3px;
  padding-top: 5px;

  @include vp-1439 {
    font-size: 34px;
    padding-left: 0;
    margin-bottom: 39px;
    margin-right: 45px;
    padding-top: 0;
  }

  @include vp-767 {
    padding-top: 3px;
    font-size: 20px;
    line-height: 20px;
    max-width: 75%;
    margin-bottom: 32px;
  }
}

.reviews .swiper-container {
  overflow: hidden;

  @include vp-1439 {
    padding-bottom: 1px;
  }

  @include vp-767 {
    position: relative;
    overflow: visible;
    padding-bottom: 0;
  }
}

.reviews .swiper-wrapper {
  margin-bottom: 39px;
  width: 1240px;

  @include vp-1439 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 0;
    min-height: fit-content;
  }
}

.reviews .swiper-slide {
  padding: 50px 50px 42px 49px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  user-select: none;
  min-height: 456px;
  outline: thin dotted;

  @include vp-1439 {
    width: 560px;
    padding-right: 49px;
    min-height: 395px;
  }

  @include vp-767 {
    padding: 30px 14px 25px;
    min-height: 375px;
  }
}

.reviews__profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.reviews__person {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  gap: 15px;

  span {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $color-cerulean-blue;
    width: 70px;

    @include vp-1439 {
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      width: 50px;
    }
  }

  @include vp-767 {
    grid-template-columns: 60px 1fr;
    gap: 10px;
  }
}

.reviews__img {
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  height: 90px;
  width: 90px;

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
  }

  @include vp-767 {
    height: 60px;
    width: 60px;

    img {
      height: 60px;
      width: 60px;
    }
  }
}

.reviews__program {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 3px;

  @include vp-1439 {
    gap: 26px;
  }

  @include vp-767 {
    gap: 26px;
  }
}

.reviews__program-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $color-charcoal;

    @include vp-1439 {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      opacity: 0.9;
      font-size: 12px;
      line-height: 14px;
    }
  }

  @include vp-767 {
    gap: 7px;
  }
}

.reviews__text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @include vp-1439 {
    gap: 16px;
  }

  @include vp-767 {
    gap: 14px;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  p {
    color: $color-charcoal;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.reviews__controles {
  display: flex;
  grid-template-columns: 1134px 54px;
  justify-content: space-between;
  align-items: center;

  @include vp-1439 {
    grid-template-columns: auto 54px;
    margin-right: 45px;
    gap: 64px;
  }
}

.reviews__controles .swiper-scrollbar {
  @include vp-767 {
    display: none;
  }
}

.reviews__arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10px;

  @include vp-767 {
    position: absolute;
    top: -52px;
    right: 0;
  }
}

.br__reviews {
  display: none;

  @include vp-1439 {
    display: block;
  }
}

/* for custom-disabled arrow add class slider-button-disabled */
