// Colors
// ---------------------------------

$color-charcoal: #484848;
$color-default-white: #ffffff;
$color-cerulean-blue: #316dc2;
$color-alabaster: #f0efe9;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768: 768px;
$vp-1440: 1440px;
